<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/oneArtist.css' />
    <%- include('bootstrap') %>
  </head>
  <body>
    <%- include('navbar') %>
    <br>

     <!-- Container 1 -->

    <div class="container">
      <div class="row d-flex justify-content-center">
        <div class="col-8 text-center artista">
            <h2><%= resultArtists[0].artist_name %></h2>
            <h2><%= resultArtists[0].artist_surname %></h2>
            <h2>"<%= resultArtists[0].nick %>"</h2>
            
            <img src="/images/artists/<%= resultArtists[0].artist_img %>" alt="" width="800">
            <br>
            <br>
            <button type="submit"><a href="/work/registerWork/<%= resultArtists[0].artist_id %>">Añadir obra al artista</a></button>
        </div>
      </div>
      <hr>
    </div>
    <br>
   
    
    <!-- Container 2 -->
    <div class="text-center">
      <h2>Todas sus obras</h2>
    </div>
    <br>
    <br>
    <div class="container">
    <div class="row d-flex">
      
      <% resultWorks.forEach( work =>{ %>
        <div class="col-6 work text-center">
          <img src="/images/works/<%= work.work_img %>" alt="">
          <br>
          <br>
          <h3><%= work.work_name %></h3>
          <h4><%= work.description %></h4>
          <br>
          <button type="submit">
          <a href="/work/deleteWork/<%= work.work_id%>/<%= work.artist_id%>">Eliminar obra del artista</a></button>
          <button type="submit"><a href="/work/editWork/<%= work.work_id%> ">Modificar obra</a></button>
          <br>
          <br>
        </div>
      <% }) %>
    </div>
  </div>

  

  </body>
</html>
